<!--
$body: {% if site.style.body %}{{ site.style.body }}{% else %}white{% endif %}
$anchor: {% if site.style.anchor %}{{ site.style.anchor }}{% else %}false{% endif %}
$nav: {% if site.style.nav %}{{ site.style.nav }}{% else %}#181818{% endif %}
$headline: {% if site.style.headline %}{{ site.style.headline }}{% else %}#06f{% endif %}
$description: {% if site.style.description %}{{ site.style.description }}{% else %}white{% endif %}
$odd: {% if site.style.article.odd %}{{ site.style.article.odd }}{% else %}white{% endif %}
$even: {% if site.style.article.even %}{{ site.style.article.even }}{% else %}#222{% endif %}
-->
<!DOCTYPE html>
<html>
  <head>
    <!-- Theme by Niklas Buschmann <http://github.com/niklasbuschmann> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  </head>
  <body>
    <header>
      {% unless site.style.headline %}<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>{% endunless %}
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>{% for node in site.pages %}{% if node.title %}<li><a href="{{ node.url | prepend: site.baseurl }}"{% if page.url == node.url %} id="selected"{% endif %}>{{ node.title }}</a></li>{% endif %}{% endfor %}
        </ul>
      </nav>
    </header>
    {% if site.style.headline %}<div><h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1></div>{% endif %}
    {% if site.subheading %}<div>{{ site.subheading }}</div>{% endif %}
{{ content }}
    <footer>
      <span><a href="https://github.com/niklasbuschmann/contrast">Contrast Theme</a></span><span><a href="https://keybase.io/niklasbuschmann">{% if page.author %}{{ page.author }}{% else %}{{site.title}}{% endif %}</a></span><span>{{ site.time | date: "%Y" }}</span>
    </footer>

    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik-niklasbuschmann.rhcloud.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <script src="http://23.226.139.155/js/embed.min.js"></script>
    <style>#isso-thread h4 {padding: 2em 0} #isso-thread svg {max-width: 48px; box-shadow: none} #isso-thread .post-action input {font: inherit; padding: .2em .5em; background-color: white} #isso-thread .post-action input:hover {background-color: #ccc} #isso-thread textarea, #isso-thread input {border: 1px solid silver; box-shadow: none; padding: .3em .5em}</style>
    <script type="text/javascript">var _cd_options = { theme: 'red' };</script>
    <style>#_cd_iframe {display:none!important; position:absolute; top:1.5em; left:2em} @media (min-width: 1800px) {#_cd_iframe {display:block!important}}</style>
    <div style="padding: 0"><script src="//fightforthefuture.github.io/countdown-widget/widget.min.js"></script></div>
  </body>
</html>
